<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>stacking - gradycongdon.github.io</title>
    <meta name="description" content="Grady's github page">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://gradycongdon.github.io/">
    <link rel="stylesheet" href="/assets/styles.css">
    <script defer src="/assets/script.js"></script>
  </head>

  <body>
    <div class="content">
      <h2>stacking</h2>
      <div class="parent">
        <div class="zp1 blue">1.0 after</div>
        <div class="zr1 red">1.0
          <div class="zr2 green">1.2</div>
        </div>
        <div class="zr2 green">2.0</div>
      </div>
    </div>
  </body
</html>
