<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>grid - gradycongdon.github.io</title>
    <meta name="description" content="Grady's github page">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://gradycongdon.github.io/">
    <link rel="stylesheet" href="/assets/styles.css">
    <script defer src="/assets/script.js"></script>
  </head>

  <body>
    <div class="grid__layout full">
      <div class="grid--center header outline">Header</div>
      <div class="grid--center sidebar outline">sidebar</div>
      <div class="main outline">main</div>
    </div>
  </body>
</html>

