@import url("/assets/reset.css");
@import url("/assets/default.css");
@import url("/assets/styles.css");

.me {
  margin-top: 0.5rem;
  font-size: 2.05rem;
  margin-bottom: 0.75rem;
}

.link--photos {
  font-size: 2rem;
  margin-top: 0.9rem;
  margin-bottom: 1rem;
  jusitfy-content: center;
  align-items: center;
}

.link--photos .onwards {
  position: relative;
  top: 3px;
}

.link--photos .onwards:hover {
  text-decoration: none;
}

.link--code {
  font-size: 1.5rem;
}

.desc {
  opacity: 0;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px black;
  background-color: white;
  color: var(--light-text);
}

.link--code:hover .desc {
  opacity: 0;
}



@supports (-webkit-overflow-scrolling: touch) {
  /* iOS */ 
  .me {
    margin-top: 1.5rem;
  }
  .up {
    margin-top: -5vh;
  }
  .super--insta {
    margin-left: -2px;
  }
}


