@import url("/assets/reset.css");
@import url("/assets/default.css");
@import url("/assets/styles.css");

html {
  width: 98vw;
}

body {
  background-color: rgb(240,240,240);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: -25vh;
  width: 98vw;
}
.photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10vh auto;
  justify-content: center;
  align-items: center;

}
  a {
    color: white;
  }
  .onwards {
    text-shadow: none;
  }


.photos img {
  width: 90vw;
  height: auto;
  object-fit: cover;
  justify-self: center;
  margin-bottom: 1vh;
}

@media (min-width: 980px) {
  body {
    margin-top: -75px;
  }
  .photos {
    display: grid;
    grid-template: repeat(9, 115vh) / repeat(2,48vw);
    margin: 0 auto;
    margin-top: 5vh;
  }

  .photos img {
    width: auto;
    height: 75vh;
  }

  .h {
    grid-column: span 2;
  }

  a {
    color: var(--main);
  }
  .onwards {
    text-shadow: 2px 2px 1px white;
  }

}
