@import url("/assets/reset.css");
@import url("/assets/default.css");
@import url("/assets/styles.css");

body {
  background-color: rgb(240,240,240);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: -25vh;
}
.photos {
  width: 100vw;
  display: grid;
  grid-template: repeat(9, 100vh) / repeat(2,48vw);
  margin-top: 25vh;
  justify-content: center;
}

.photos img {
  width: 40vw;
  height: auto;
  object-fit: cover;
  justify-self: center;
  margin-bottom: 1vh;
}


.horiz {
  grid-column: span 2;
  justify-self: center;
}

.horiz img {
  width: 85vw;
  height: auto;
}

.horiz img:nth-child(even) {
  margin-left: 10vw;
}

@media (min-width: 980px) {
  .photos {
    display: grid;
    grid-template: repeat(9, 115vh) / repeat(2,48vw);
    margin: 0 auto;
    margin-top: 5vh;
  }

  .horiz {
    grid-column: span 2;
    width: 75vw;
    justify-self: center;
    justify-content: center;
    margin-left: 0;
  }

  .horiz img {
    width: 90vw;
    height: auto;
  }

  .horiz img {
    width: auto;
    height: 47vh;
    float: right;
    margin-bottom: 3vh;
  }
  .horiz img:nth-child(2) {
    float: left;
  }
}
