* {
  box-sizing: border-box
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

button,
select {
	border: none;
	outline: none;
	background: none;
	font-family: inherit
}

a,
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent
}

