@import url("/assets/reset.css");
@import url("/assets/default.css");
@import url("/assets/grid.css");
@import url("/assets/stacking.css");
@import url("/assets/object-fit.css");
@import url("/assets/buttons.css");



.photos {
  display: grid;
  grid-template: repeat(9, 100vh) / repeat(2, 40vw);
  grid-gap: 80px;
  margin: 100px 50px;
  margin-top: -5vh;
}

.photos img {
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.h {
  height: auto;
  width: 100%;
}


@media (max-width: 425px) {
  .photos {
    grid-template: repeat(18, 100vh) / repeat(1, 90vw);
    margin: 0 auto;
  }
}

