@import url("/assets/reset.css");
@import url("/assets/default.css");
@import url("/assets/styles.css");

:root {
  --blue: rgb(67, 83, 206);
  --blue-alt: rgb(49, 64, 177);
  --blue-deep: #1e3983;
  --green: #31371b;
  --brown: rgb(226, 203, 175);
  --red: rgb(206, 91, 88);
  --black: rgb(0,0,0);
  --dark-text: rgb(60,60,60);
  --light-text: rgb(75, 75,75);
  --offwhite: #fdfcfc:
  --footer-height: 45px;
  --footer-bottom: 15px;
}

html {
  font-size: 21px;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--black);
  font-family: 'DM Serif Text', serif;
  font-weight: normal;
  line-height: 1.2;
}

body {
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--offwhite);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  color: var(--dark-text);
  margin-top: calc(0 - var(--footer-height) - var(--footer-bottom));
  margin-bottom: calc(var(--footer-height) + var(--footer-bottom));
}

a {
  color: var(--blue); 
}

a:hover {
  text-decoration: underline;
}

.content {
  padding: 0 1rem;
}

.row {
  display: flex;
  justify-contnet: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.cat-link {
  display: inline;
  position: relative;
}

.super {
  display: inline-flex;
  position: absolute;
  vertical-align: super;
  font-size: .9rem;
  margin-left: 1px;
}

.onwards {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  position: fixed;
  height: var(--footer-height);
  bottom: var(--footer-bottom);
}


.back-around {
  margin-bottom: -.2rem;
}

.cv {
  justify-content: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  /* iOS */ 
  .onwards {
    font-size: 3.75rem;
  }
}
