<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>templates - gradycongdon.github.io</title>
    <meta name="description" content="Grady's github page">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://gradycongdon.github.io/">
    <link rel="stylesheet" href="/assets/styles.css">
    <script defer src="/assets/script.js"></script>
  </head>

  <body>
    <div class="content">
      <div class="x-buttons">
        <button class="button">Click</button>
        <button class="button buble lifter">Buble Button</button>
        <div class="row">
          <button class="button jaco">Jaco</button>
          <button class="button jaco jaco--filled">Jaco</button>
        </div>
        <button class="button rhoncus">&#8203;</button>
        <button class="button neva">neva</button>
        <button class="button dripps">dripps</button>
      </div>
    </div>
  </body>
</html>

