<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>object-fit - gradycongdon.github.io</title>
    <meta name="description" content="Grady's github page">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="https://gradycongdon.github.io/">
    <link rel="stylesheet" href="/assets/styles.css">
    <script defer src="/assets/script.js"></script>
  </head>

  <body>
    <div class="content">
      <h2>object-fit</h2>
      <h2>BG:</h2>
      <div class="square pic contain"></div>
      <div class="cinema pic contain"></div>
      <div class="cinema pic bg-contain"></div>
      <h2>IMG:</h2>
      <img alt="pic" class="square contain" src="/images/pic.jpg"/>
      <img alt="pic" class="square fill" src="/images/pic.jpg"/>
      <img alt="pic" class="square cover" src="/images/pic.jpg"/>
      <h2>cover:</h2>
      <img alt="pic" class="cinema cover" src="/images/pic.jpg"/>
      <img alt="pic" class="cinema cover medium" src="/images/pic.jpg"/>
      <img alt="pic" class="cinema cover large" src="/images/pic.jpg"/>
      <h2>fill:</h2>
      <img alt="pic" class="cinema fill" src="/images/pic.jpg"/>
      <img alt="pic" class="cinema fill medium" src="/images/pic.jpg"/>
      <img alt="pic" class="cinema fill large" src="/images/pic.jpg"/>
      <h2>cover sq:</h2>
      <img alt="pic" class="square cover" src="/images/pic.jpg"/>
      <img alt="pic" class="square cover medium" src="/images/pic.jpg"/>
      <img alt="pic" class="square cover large" src="/images/pic.jpg"/>
    </div>
  </body
</html>
